{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Lumpia.natics System</title>
        <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css' %}">
        <meta charset="utf-8">
    </head>

    <body>
        <div class="p-5">
            <form method="POST" action="{% url 'create_product' %}" class="bg-light"> {% csrf_token %}
                <h1>Create Product</h1>
                <div class="p-2">
                    <label>Product Name:</label>
                    <input type="text" name="name" value="{{name}}" required>
                </div>
                <div class="p-2">
                    <label>Price:</label>
                    <input type="text" name="price" value="{{price}}" required>
                </div>
                <div class="p-2">
                    <label>Target Level:</label>
                    <input type="text" name="target_level" value="{{target_level}}" required>
                </div>
                <div class="p-2">
                    <label>Units Per Order:</label>
                    <input type="text" name="units_per_order" value="{{units_per_order}}" required>
                </div>
                <div class="p-2">
                    <label>Group Name:</label>
                    <input type="text" name="group_name" value="{{group_name}}">
                </div>
                <div class="p-2">
                    <label>Unit of Measurement:</label>
                    <input type="text" name="unit_of_measurement" value="{{unit_of_measurement}}" required>
                </div>
                <div class="p-2">
                    <button type='submit' class="btn btn-success">Create Product</button>
                </div>
            </form>
        </div>
    </body>
</html>