<!-- {% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Lumpia.natics System</title>
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css' %}">
    <meta charset="utf-8">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col my-auto" style="padding-left: 140px">
                <h1>Create Combo</h1>
            </div>
            <div class="col-5 p-4 border border-dark rounded mt-5 bg-light">
                <form method="POST" action="{% url 'create_combo' %}" style="padding-left: 28px"> {% csrf_token %}
                    <div class="p-2">
                        <label style="padding-right: 53px"><b>Combo Name:</b></label>
                        <input type="text" name="cName" value="{{name}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 60px"><b>Group Name:</b></label>
                        <select id="gName" name="gName">
                            {% for i in g %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 120px"><b>Price:</b></label>
                        <input type="text" name="price" value="{{price}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 121px"><b>Item:</b></label>
                        <select id="name1" name="name1">
                            {% for i in p %}
                                <option value="{{i}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 117px"><b>Units:</b></label>
                        <input type="text" name="unit1" value="{{unit1}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 121px"><b>Item:</b></label>
                        <select id="name2" name="name2">
                            {% for i in p %}
                                <option value="{{i}}">{{i.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 117px"><b>Units:</b></label>
                        <input type="text" name="unit2" value="{{unit2}}" required>
                    </div>
                    

                    <div id="hob"></div>

                    <p class="p-2">
                    <div class="row" >
                        <div class="col" style="padding-left: 22px">
                            <input type="button" class="btn btn-info" value="Add Item" onclick="addBox()">
                        </div>
                        <div class="col">
                            <button type='submit' class="btn btn-success">Save Changes</button>
                        </div>
                        <div class="col">
                            <a href="{% url 'edit_productlist' %}" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                    </p>
                </form>
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        var counter = 3;
        var textBox = "";
        var hob = document.getElementById("hob")
        function addBox()
        {
            var div = document.createElement("div");
            div.setAttribute("class","form-group");
            div.setAttribute("id","box_"+counter);

            var textBox = "<label>Hobbies"+counter+"</label><input type='text' name='hobbies[]' class='myinput form-control myinput' id='hobbies_"+counter+"'><input class='mybox' type='button' value='-' onclick='removeBox(this)'>";

            var dropDown = "<input class='mybox' type='button' value='X' onclick='removeBox(this)'><label style='padding-right: 100px; padding-left: 20px'><b>Item:</b></label><select id='name"+counter+"' name='name"+counter+"'>{% for i in p %}<option value='{{i}}'>{{i.name}}</option>{% endfor %}</select><label style='padding-right: 117px'><b>Units:</b></label><input type='text' name='unit"+counter+"' value='' required>";

            div.innerHTML = dropDown;
            
            hob.appendChild(div);
            
            counter++;
        }
        
        function removeBox(ele)
        {
            ele.parentNode.remove();
        }
    </script>
</body>

</html> -->

{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Lumpia.natics System</title>
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css' %}">
    <meta charset="utf-8">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col my-auto" style="padding-left: 140px">
                <h1>Create Combo</h1>
            </div>
            <div class="col-5 p-4 border border-dark rounded mt-5 bg-light">
                <form method="POST" action="{% url 'create_combo' %}" style="padding-left: 28px"> {% csrf_token %}
                    <div id="dynamic_form">
                        <div class="p-2">
                            <label style="padding-right: 53px"><b>Combo Name:</b></label>
                            <input type="text" name="cName" value="{{name}}" required>
                        </div>
                        <div class="p-2">
                            <label style="padding-right: 60px"><b>Group Name:</b></label>
                            <select id="gName" name="gName">
                                {% for i in g %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="p-2">
                            <label style="padding-right: 120px"><b>Price:</b></label>
                            <input type="text" name="price" value="{{price}}" required>
                        </div>
                        <div class="p-2">
                            <label style="padding-right: 121px"><b>Item:</b></label>
                            <select id="itemname" name="itemname">
                                {% for i in p %}
                                    <option value="{{i}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="p-2">
                            <label style="padding-right: 117px"><b>Units:</b></label>
                            <input type="text" name="unit" value="{{unit}}" required>
                        </div>
                        <div class="p-2">
                            <label style="padding-right: 121px"><b>Item:</b></label>
                            <select id="itemname" name="itemname">
                                {% for i in p %}
                                    <option value="{{i}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="p-2">
                            <label style="padding-right: 117px"><b>Units:</b></label>
                            <input type="text" name="unit" value="{{unit}}" required>
                        </div>
                    
                        <div id="hob"></div>
                    </div>

                    <p class="p-2">
                    <div class="row" >
                        <div class="col" style="padding-left: 22px">
                            <input type="button" class="btn btn-info" value="Add Item" onclick="addBox()">
                        </div>
                        <div class="col">
                            <button type='submit' class="btn btn-success">Save Changes</button>
                        </div>
                        <div class="col">
                            <a href="{% url 'edit_productlist' %}" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                    </p>
                </form>
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        var counter = 3;
        var textBox = "";
        var hob = document.getElementById("hob")
        function addBox()
        {
            var div = document.createElement("div");
            div.setAttribute("class","form-group");
            div.setAttribute("id","box_"+counter);

            var textBox = "<label>Hobbies"+counter+"</label><input type='text' name='hobbies[]' class='myinput form-control myinput' id='hobbies_"+counter+"'><input class='mybox' type='button' value='-' onclick='removeBox(this)'>";

            var dropDown = "<input class='mybox' type='button' value='X' onclick='removeBox(this)'><label style='padding-right: 100px; padding-left: 20px'><b>Item:</b></label><select id='itemname' name='itemname'>{% for i in p %}<option value='{{i}}'>{{i.name}}</option>{% endfor %}</select><label style='padding-right: 117px'><b>Units:</b></label><input type='text' name='unit' value='' required>";

            div.innerHTML = dropDown;
            
            hob.appendChild(div);
            
            counter++;
        }
        
        function removeBox(ele)
        {
            ele.parentNode.remove();
        }
        
        function handleSubmit(event) {
            // event.preventDefault();

            const data = new FormData(event.target);

            const value = Object.fromEntries(data.entries());

            value.itemname = data.getAll("itemname");
            value.unit = data.getAll("unit");

            console.log({ value });
        }

        const form = document.querySelector("form");
        form.addEventListener("submit", handleSubmit);
    </script>
</body>

</html>