{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Lumpia.natics System</title>
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css' %}">
    <meta charset="utf-8">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col my-auto" style="padding-left: 140px">
                <h1>Create Combo</h1>
            </div>
            <div class="col-5 p-4 border border-dark rounded mt-5 bg-light">
                <form method="POST" action="{% url 'create_combo' %}" style="padding-left: 28px"> {% csrf_token %}
                    <div class="p-2">
                        <label style="padding-right: 53px"><b>Combo Name:</b></label>
                        <input type="text" name="name" value="{{name}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 120px"><b>Price:</b></label>
                        <input type="text" name="price" value="{{price}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 108px"><b>Item 1:</b></label>
                        <input type="text" name="name1" value="{{name1}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 117px"><b>Units:</b></label>
                        <input type="text" name="unit1" value="{{unit1}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 108px"><b>Item 2:</b></label>
                        <input type="text" name="name2" value="{{name2}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 117px"><b>Units:</b></label>
                        <input type="text" name="unit2" value="{{unit2}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 108px"><b>Item 3:</b></label>
                        <input type="text" name="name3" value="{{name3}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 117px"><b>Units:</b></label>
                        <input type="text" name="unit3" value="{{unit3}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 108px"><b>Item 4:</b></label>
                        <input type="text" name="name4" value="{{name4}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 117px"><b>Units:</b></label>
                        <input type="text" name="unit4" value="{{unit4}}" required>
                    </div>
                    <div class="p-2">
                        <label style="padding-right: 60px"><b>Group Name:</b></label>
                        <input type="text" name="group_name" value="{{group_name}}" required>
                    </div>

                    <p class="p-2">
                    <div class="row" style="padding-left: 70px">
                        <div class="col">
                            <button type='submit' class="btn btn-success">Add Combo Item</button>
                        </div>
                        <div class="col">
                            <a href="{% url 'edit_productlist' %}" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                    </p>
                </form>
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>
</body>

</html>