{% load static %}

<html>
    <head>
        <title>Lumpia.natics System</title>
        <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css' %}">
        <meta charset="utf-8">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col mt-5" style="padding-left: 140px">
                    <h1>Inventory</h1>
                    <a href="{% url 'signout' %}" class="btn">Sign Out</a>
                </div>
                <div class="col-5 mt-5 bg-light d-grid gap-4 p-3">
                    <a href="{% url 'edit_productlist' %}" class="btn btn-info fs-4">Edit Product List</a>
                    <a href="{% url 'import_sales' %}" class="btn btn-info fs-4">Import Sales</a>
                    <a href="{% url 'inventory_tally' %}" class="btn btn-info fs-4">Inventory Tally</a>
                    <a href="{% url 'remaining_inventory' %}" class="btn btn-info fs-4">Remaining Inventory</a>
                    <a href="{% url 'home' %}" class="btn btn-info fs-4">Weekly Statistics</a>
                    <a href="{% url 'inventory_records' %}" class="btn btn-info fs-4">Inventory Records</a>>
                </div>
            </div>
        </div>
    </body>

</html>