{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Lumpia.natics System</title>
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css' %}">
    <meta charset="utf-8">
</head>

<body>
    <div class="container mt-5">
        <form method="POST" action="{% url 'confirm_inventory' %}">{% csrf_token %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Units Sold</th>
                        <th>Counted Units</th>
                        <th>Remarks</th>
                    </tr>
                </thead>

                {% for order in orders %}
                <tr>
                    <td>{{order.item_name}}</td>
                    <td>{{order.units_sold}}</td>
                    <td><input type="text" name="counted_units" value="{{counted_units}}"></td>
                    <td><input type="text" name="remarks" value="{{remarks}}"></td>
                </tr>
                {% endfor %}
            </table>
            
            <button type="submit" class="btn btn-success">Record</button>
            <a href="{% url 'home' %}" class="btn btn-danger">Return to Home</a>
        </form>
    </div>
</body>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p>Date Today: {{current_date}}</p>
</footer>

</html>