{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Inventory Records</title>
</head>
<body>
    <h1>Inventory Records for {{ inventory_records.0.date }}</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory_record in inventory_records %}
                <tr>
                    <td>{{ inventory_record.product }}</td>
                    <td>{{ inventory_record.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>






