{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Lumpia.natics System</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Update Product</h1>
        <form method="POST" action="{% url 'update_product' p.pk %}"> {% csrf_token %}
            <div>
                <label>Product Name:</label>
                <input type="text" name="name" value="{{p.name}}" required>
            </div>
            <div>
                <label>Price:</label>
                <input type="text" name="price" value="{{p.price}}" required>
            </div>
            <div>
                <label>Target Level:</label>
                <input type="text" name="target_level" value="{{p.target_level}}" required>
            </div>
            <div>
                <label>Units Per Order:</label>
                <input type="text" name="units_per_order" value="{{p.units_per_order}}" required>
            </div>
            <div>
                <label>Group Name:</label>
                <input type="text" name="group_name" value="{{p.group_name}}">
            </div>
            <div>
                <label>Unit of Measurement:</label>
                <input type="text" name="unit_of_measurement" value="{{p.unit_of_measurement}}" required>
            </div>
            <button type='submit'>Save Changes</button>
        </form>
    </body>
</html>