{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Lumpia.natics System</title>
        <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css' %}">
        <meta charset="utf-8">
    </head>
    
    <body>
        <div class="container">
            <div class = "row">
                <div class="col my-auto" style="padding-left: 140px">
                    <h1>Item List</h1>
                    <h3>Update Product</h1>
                </div>
                <div class="col-5 p-4 border border-dark rounded mt-5 bg-light">
                    <form method="POST" action="{% url 'update_combo' c.pk %}" style="padding-left: 28px"> {% csrf_token %}
                        <div class = "p-2">
                            <label style="padding-right: 108px"><b>Combo Name:</b></label>
                            <input type="text" name="cName" value="{{c.combo_name}}" required>
                        </div>
                        <div class = "p-2">
                            <label style="padding-right: 115px"><b>Group Name:</b></label>
                            <input type="text" name="gName" value="{{c.group_name}}" required>
                        </div>
                        <div class="p-2">
                            <label style="padding-right: 169px"><b>Price:</b></label>
                            <input type="text" name="price" value="{{c.price}}" required>
                        </div>

                        {% for cc in cComponents %}
                        <div class = "p-2">
                            <label style="padding-right: 126px"><b>Item:</b></label>
                            <input type="text" name="pName" value="{{cc.item_name.name}}" required>
                        </div>
                        <div class = "p-2">
                            <label style="padding-right: 100px"><b>Units:</b> {{cc.quantity_per_item}}</label>
                            <input type="text" name="unit" value="{{cc.quantity_per_item}}" required>
                        </div>
                        {% endfor %}
        
                        <p class = "p-2">
                            <div class="row" style="padding-left: 22px">
                                <div class="col">
                                    <button type="submit" class="btn btn-success">Save Changes</button>
                                </div>
                                <div class="col">
                                    <a href="{% url 'view_combo' pk=c.pk %}" class="btn btn-warning">Cancel</a>
                                </div>
                            </div>
                        </p>
                </div>
        </div>
    </body>
</html>