{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Lumpia.natics System</title>
        <link rel="stylesheet" type="text/css" href="{% static '/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css' %}">
        <meta charset="utf-8">
    </head>
    
    <body>
        <div class="container">
            <div class = "row">
                <div class="col my-auto" style="padding-left: 140px">
                    <h1>Item List</h1>
                    <h3>View Item</h1>
                </div>
                <div class="col-5 p-4 border border-dark rounded mt-5 bg-light">
                    <!--<form method="POST" action="{% url 'view_product' p.pk %}" style="padding-left: 28px"> {% csrf_token %}-->
                        <div class = "p-2">
                            <label style="padding-right: 108px"><b>Product Name:</b> {{p.name}}</label>
                            <!--<input type="text" name="name" value="{{p.name}}" readonly>-->
                        </div>
                        <div class = "p-2">
                            <label style="padding-right: 180px"><b>Price:</b> {{p.price}}</label>
                            <!--<input type="text" name="price" value="{{p.price}}" readonly>-->
                        </div>
                        <div class="p-2">
                            <label style="padding-right: 169px"><b>Stocks:</b> {{p.stocks}}</label>
                            <!--<input type="text" name="stocks" value="{{p.stocks}}" readonly>-->
                        </div>
                        <div class = "p-2">
                            <label style="padding-right: 126px"><b>Target Level:</b> {{p.target_level}}</label>
                            <!--<input type="text" name="target_level" value="{{p.target_level}}" readonly>-->
                        </div>
                        <div class = "p-2">
                            <label style="padding-right: 100px"><b>Units Per Order:</b> {{p.units_per_order}}</label>
                            <!--<input type="text" name="units_per_order" value="{{p.units_per_order}}" readonly>-->
                        </div>
                        <div class = "p-2">
                            <label style="padding-right: 120px"><b>Group Name:</b> {{p.group_name}}</label>
                            <!--<input type="text" name="group_name" value="{{p.group_name}}" readonly>-->
                        </div>
                        <div class = "p-2">
                            <label style="padding-right: 56px"><b>Unit of Measurement:</b> {{p.unit_of_measurement}}</label>
                            <!--<input type="text" name="unit_of_measurement" value="{{p.unit_of_measurement}}" readonly>-->
                        </div>
                        <div hidden class = "p-2">
                            <label style="padding-right: 180px" id="stocks">{{p.stocks}}</label>
                            <!--<input type="text" name="price" value="{{p.price}}" readonly>-->
                        </div>
        
                        <p class = "p-2">
                            <div class="row" style="padding-left: 22px">
                                <div class="col">
                                    <a href="{% url 'update_product' pk=p.pk %}" class="btn btn-success">Update</a>
                                </div>
                                <div class="col">
                                    <a href="{% url 'delete_product' pk=p.pk %}" id="delete" class="btn btn-danger">Delete</a>
                                </div>
                                <div class="col">
                                    <a href="{% url 'edit_productlist' %}" class="btn btn-warning">Home</a>
                                </div>
                            </div>
                        </p>
                    <!--</form>-->
                </div>
                <!-- <div class = "p-2">
                    <label>Target Level:</label>
                    <input type="text" name="target_level" value="{{p.target_level}}" readonly>
                </div>
                <div class = "p-2">
                    <label>Units Per Order:</label>
                    <input type="text" name="units_per_order" value="{{p.units_per_order}}" readonly>
                </div>
                <div class = "p-2">
                    <label>Group Name:</label>
                    <input type="text" name="group_name" value="{{p.group_name}}" readonly>
                </div>
                <div class = "p-2">
                    <label>Unit of Measurement:</label>
                    <input type="text" name="unit_of_measurement" value="{{p.unit_of_measurement}}" readonly>
                </div>

                <p class = "p-2">
                    <button type="button" class="btn btn-warning"><a href="{% url 'update_product' pk=p.pk %}" class="btn btn-warning">Update</a></button>
                    <button type="button" class="btn btn-danger"><a href="{% url 'delete_product' pk=p.pk %}" class="btn btn-danger">Delete</a></button>
                </p>-->
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script>
            document.getElementById("delete").addEventListener("click", function(event){
                stocks = document.getElementById("stocks").textContent;
                stocks = Number(stocks);

                if (stocks > 0)
                {
                    alert("Stocks must be empty before it can be deleted.");
                    event.preventDefault();
                }
            });
        </script>

    </body>

</html>